lovelace:
  mode: storage
  dashboards:
    goodwe-power:
      mode: yaml
      title: GoodWe Power
      icon: mdi:solar-power
      show_in_sidebar: true
      filename: dashboards/goodwe_dashboard.yaml
